// app global css in Sass form
@import 'quasar.variables'

.thin-border--light
  border: thin solid $c-old-tucan !important
.thin-border--dark
  border: thin solid $c-washed-cloth !important

.q-color-picker__header
  height: 36px
.q-color-picker__header-content > .q-tabs
  display: none
