
$c-ivory: #FAFAFA

$c-letters: #333333
$c-old-tucan: #646879
$c-washed-cloth: #bec3d6

$c-primary: #AB92F0
$c-secondary: #26A69A
$c-accent: #9C27B0

$c-nightfall: #1D1D1D
$c-moonlight: lighten(#1D1D1D, 1%)

$c-positive: #21BA45
$c-negative: #C10015
$c-info: #31CCEC
$c-warning: #F2C037

$colors: ("ivory": $c-ivory, "letters": $c-letters, "old-tucan": $c-old-tucan, "washed-cloth": $c-washed-cloth, "primary": $c-primary, "secondary": $c-secondary, "accent": $c-accent, "nightfall": $c-nightfall, "moonlight": $c-moonlight, "positive": $c-positive, "negative": $c-negative, "info": $c-info, "warning": $c-warning)

@each $name, $color in $colors
  .bg-#{$name}
    background: $color
  .c-#{$name}
    color: $color
  .text-#{$name}
    color: $color !important
  \:root
    --q-color-#{$name}: #{$color}

.dark-mode .c-letters
  color: white

// these colors are just swapped in dark mode
.dark-mode
  .c-old-tucan
    color: #bec3d6
  .c-washed-cloth
    color: #646879
